table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width:45%;
  margin: 10px;
}

td, th {
  width: 25%;
}

mat-card
{
  margin: 2%;
  width: 20%;
}


.filters
{
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 1%;

}

